@import "../main.style/variable.scss";

#quote__page {
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 45px;
}

#quote__page .tools__action {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  position: fixed;
  right: 10px;
  top: 20%;
}

#quote__page .quote__view {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-self: center;
  padding-right: 45px;
  overflow: hidden;
  & .qoute__category,
  .quote__author {
    font-size: 1rem;
    opacity: 0.8;
    transition: all 0.3s linear;
  }
  & .quote__author {
    opacity: 0;
  }
  & .content__qoute__text {
    font-family: $font_PoetsenOne !important;
    font-size: 1.6rem;
    text-align: justify;
    line-height: 2rem;
  }
  & .controll__quotes {
    display: flex;
    gap: 20px;
    padding: 10px 2px;
    opacity: 0;
    transition: all 0.3s linear;
  }
}
