@import "../../assets/styles/main.style.scss";

.home__page {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}

.quote__actions {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: fixed;
  right: 30px;
}

.quote__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
  justify-content: center;
  padding-right: 50px;
  & .quote__category,
  .quote__author {
    font-size: 1.2rem;
    opacity: 0.8;
  }
  & .quote__text {
    font-size: 3rem;
  }
}

.navigation__quote_list {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 0 0 #0004;
  animation: l2 1.5s infinite linear;
  position: relative;
  transform: scale(3);
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 #0004;
  animation: inherit;
  animation-delay: -0.5s;
}
.loader:after {
  animation-delay: -1s;
}
@keyframes l2 {
  100% {
    box-shadow: 0 0 0 40px #0000;
  }
}
