@import "../main.style/variable.scss";

.nav-bar {
  background: $neutral_1;
  display: flex;
  flex-direction: column;
  padding: 25px;
  overflow: hidden;
  // justify-content: space-between;
  height: 100%;
  // position: fixed;
  // width: 200px;
  & .title__nav__bar {
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
    & h1 {
      font-family: $font_bold;
    }
  }
  & .link__nav {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    justify-self: center;
  }
  & .section__bottom {
    display: flex;
    flex-direction: column;
    flex: none;
    margin-top: auto;
    margin-bottom: auto;
    & .social__media_nav {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
    & .copy-section-nav {
      color: rgba(255, 255, 255, 0.527);
      font-family: $font_light;
      font-size: 0.8rem;
      text-align: center;
    }
  }
}
