@import "../main.style/variable.scss";

.tabbar-controll {
  background: $neutral_1;
  border-radius: 10px;
  padding: 2px 30px;
  display: flex;
  justify-content: space-between;
  overflow: visible;
  background-color: $neutral_1;
  max-width: 300px;
}
